--extra-index-url https://pypi.fury.io/vsRAKKMwEs5p1RhfMGiF/ocelot-saas/

# Duplicated from setup.py.
clock==0.0.5
falcon>=1,<2
falcon-cors>=1,<2
gunicorn>=19,<20
identity==1.4.4
inflection>=0,<1
jsonschema>=2,<3
phonenumbers>=7,<8
python-slugify>=1,<2
pytz==2016.4
sqlalchemy>=1,<2
startup-migrations==0.0.2
validate_email>=1,<2

# Duplicated from setup.py, for testing.
coverage>=4,<5
coveralls>=1,<2
mockito>=0,<1
